:root{
  --background-color: white;
  --background-secondary-color: #bdc3c7;
  --border-color: #95a5a6;
  --text-color: black;
  --highlight1-color: #45f670;
  --highlight2-color: #549598;
  --highlight3-color: #708a74;
}